{% extends 'base.html' %}

{% block content %}
<!-- Title -->
<div class="title-container" id="titleContainer">
    <h1 class="title" id="mainTitle">TRICK OR THREAT</h1>
</div>

<div class="d-flex justify-content-between">
    <div>Score: <span id="user-score">{{ score }}</span></div>
    <div id="quiz-timer" data-timer-value="{{ timer_value }}"></div>
    <div>Q<span>{{ question_number }}/{{ total_questions }}</span></div>
</div>

<div class="email-quiz">
    <div class="email-header">
        <strong>From:</strong> {{ question.sender }}<br>
        <strong>Subject:</strong> {{ question.subject }}
    </div>
    <div class="email-body" style="margin-top: 1em; white-space: pre-line;">
        {{ question.body }}
    </div>
    {% if question.attachments %}
    <div class="email-attachments" style="margin-top: 1em;">
        <strong>Attachments:</strong> {{ question.attachments }}
    </div>
    {% endif %}
</div>

{% csrf_token %}
<div id="quiz-choices" style="margin-top: 2em;" >
    <button data-type="phish" data-question-id="{{ question.id }}" data-session-id="{{ session_id }}">Phantom Phish</button>
    <button data-type="treat" data-question-id="{{ question.id }}"" data-session-id="{{ session_id }}">True Treat</button>
</div>
<div id="quiz-progression-control" style="margin-top: 2em;" class="hidden">
    {% if end_round %}
    <a href="">Results</a>
    {% else %}
    <a href="{% url 'quiz_with_session_id' session_id %}">Next</a>
    {% endif %}
</div>
<div id="quiz-results"></div>
{% endblock content %}